@use "sass:math";
@use "variables" as *;

// UTILITY MIXINS
// --------------------------------------------------

// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// Center-align a block level element
// ----------------------------------
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// ROUND CORNERS
// --------------------------------------------------

// .border-radius(VALUE,VALUE,VALUE,VALUE);
@mixin border-radius(
    $topright: 0,
    $bottomright: 0,
    $bottomleft: 0,
    $topleft: 0
) {
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
    background-clip: padding-box;
}

// .rounded(VALUE);
@mixin rounded($radius: 4px) {
    border-radius: $radius;
}

// TYPOGRAPHY
// --------------------------------------------------

// Full-fat vertical rhythm
// ------------------------
@mixin font-size($size) {
    font-size: 0px + $size;
    font-size: #{math.div($size, $doc-font-size)}rem;
    line-height: math.div(
        round(math.div($doc-line-height, $size) * 10000),
        10000
    );
    margin-bottom: 0px + $doc-line-height;
    margin-bottom: #{math.div($doc-line-height, $doc-font-size)}rem;
}

// Just the REMs
// -------------
@mixin font-rem($size) {
    font-size: 0px + $size;
    font-size: #{math.div($size, $doc-font-size)}rem;
}

// Just font-size and line-height
// ------------------------------
@mixin font($size) {
    font-size: 0px + $size;
    font-size: #{math.div($size, $doc-font-size)}rem;
    line-height: math.div(
        round(math.div($doc-line-height, $size) * 10000),
        10000
    );
}

// GRADIENTS
// --------------------------------------------------

@mixin horizontal(
    $startColor: $color_gallery,
    $midColor: $color_stack,
    $endColor: $color_gallery
) {
    background-color: $endColor;
    background-image: linear-gradient(
        to right,
        $startColor,
        $midColor,
        $endColor
    );
    background-repeat: repeat-x;
}

// TRANSFORMATIONS
// --------------------------------------------------

// .transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
@mixin transition($transition) {
    transition: $transition;
}
